body{
  color: #333A40;
}

.header {
  height: 5vh;
}

.banner{
  background-image: url(images/banner-img.jpg);
  height: 90vh;
  background-size: cover;
  background-position: 0% 65%;
}

.dev-icon{
  font-size: 6rem;
}

.contact-info{
  font-size: 1.25rem;
}

.link-icon{
  font-size: 1.7rem;
}

.image-size{
  max-width: 200px;
  object-fit: contain;
  margin: auto;
  border-radius: 5px;
}

.about-me{
  height: 55vh;
}

.project{
  height: 75vh;
}

.tools{
  height: 65vh;
}

@media screen and (max-height: 400px){
  .header{
    height: 8vh;
  }

  .banner{
    height: 80vh;
  }
}

@media screen and (max-width: 400px){
  .banner{
    height: 88vh;
    background-position: 17%;
  }
}
